@model IEnumerable<DataEntities.Model.Category>

@{
    ViewBag.Title = "Index";
}

@section kategoriler{
    @foreach (var item in Model)
    {
        <a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => item.Name)</a>
    }
}

