@using BusinessLogicLayer
@using DataEntities.Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GenericRepository<Product> pRepo = new GenericRepository<Product>();
    GenericRepository<ProductImages> pImgRepo = new GenericRepository<ProductImages>();

}

    <div class="card bg-dark text-white mb-3">
        <img src="https://images.hepsiburada.net/banners/s/0/672-378/bannerImage2125_20220608133741.png/format:webp" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Altınyıldız ürünlerinde sepette %25 indirim!</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>

    <div class="card bg-dark text-white mb-3">
        <img src="https://images.hepsiburada.net/banners/s/0/672-378/bannerImage2125_20220608133741.png/format:webp" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Altınyıldız ürünlerinde sepette %25 indirim!</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>






